name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: mrokeat/buildozer-action@v1.3.0
    - uses: actions/upload-artifact@v4
      with:
        name: nfc-app
        path: bin/*.apk
